Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.1
Sphinx==1.2.3
Twisted==14.0.2
anyjson==0.3.3
coverage==3.7.1
docutils==0.12
flake8==2.2.5
flake8-print==1.5.0
gnureadline==6.3.3
ipdb==0.8
ipython==2.3.1
mccabe==0.2.1
mock==1.0.1
pep8==1.5.7
pyflakes==0.8.1
sphinx-rtd-theme==0.1.6
treq==0.2.1
wsgiref==0.1.2
zope.interface==4.1.1
